.list {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid black;
  text-align: center;
  width: 25%;
  margin: 0 auto;
}

.list h1 {
  text-decoration: underline;
}

.list h3 {
  font-weight: 800;
}

.list h6 {
  font-weight: 400;
}

.form {
  display: flex;
  flex-flow: column  nowrap;
  align-items: flex-end;
  margin: 10px auto;
  width: 18%;
  
}

.form input {
  margin: 2px;
}

.submitButton {
  margin: 10px auto;
}

.addHeader {
  text-align: center;
}

.individualFriend {
  line-height: 0;
}